h1{
	color: orange;
	text-align: center;
	font-size: 100px;
}

body {
	text-align: center;
 	color: white;
	background-color: black
	background-image: url("main.jpg");

}

button {
	
}


